body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: beige;
}

button:hover {
    cursor: pointer;
}

.site-title {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.announcement-banner {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkcyan;
    color: white;
    padding: 15px 20px 15px 20px;
    border-radius: 7.5px;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
}

.thumbnail {
    width: 35px;
    height: 35px;
    padding-right: 5px;
}

.topnav {
    background-color: palegoldenrod;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

.topnav-links {
    text-align: right;
    color: black;
}

.header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FF964F;
    width: 100%;
    text-align: center;
}

.webpage {
    display: flex;
    margin-bottom: 15px;
}

.topnav-link {
    color: black;
    padding: 0 5px 0 5px;
    text-decoration: none;
}

.topnav-link:hover {
    text-decoration: underline solid;
    text-shadow: 0 0 0.1px black; 
    /* ^^^ adds a thin shadow to text to give illusion of bold; since regular bold moves other links*/
}

.invisible-text {
    color: black;
    text-decoration: underline;
    font-size: 0%;
}

.panic {
    background-color: crimson;
    color: white;
    text-align: center;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: 5px;
}

.panic:hover {
    scale: 1.1;
    cursor: pointer;
    text-shadow: 0 0 0.1px white;
}

.self-promo-link {
    vertical-align: middle;
    align-items: center;
}

.self-promo-link:hover {
    -webkit-transform: translateY(-2px);
	transform: translateY(-2px);
}

.self-promo {
    display: flex;
    justify-content: space-between;
}

.proxy-button {
    width: 200px;
    height: 40px;
    color: black;
    background-color: lightslategray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
}

.backup-button {
    width: 150px;
    height: 40px;
    color: black;
    background-color: lightslategray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
}

.dogev4-backup-content {
    width: 90%;
    height: 850px;
    text-align: center;
}

.frogies-arcade-backup-content {
    width: 90%;
    height: 850px;
    text-align: center;
}